*{
  margin: 0px;
  padding: 0px;
  font-size: poppins;
  box-sizing: border-box;
}

.container {
  width: 50%
  height: fit-content;
  background: #e3f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  margin: 60px 150px 10px 25px;
  width: 60%;
  background: #3a4452;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255,255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);
  background: transparent;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}
.display {
 display: flex;
 justify-content: flex-end; 
 margin: 15px 2px;
 border: 1.5px solid #fff;
 border-radius: 10px;
}
.display input {
  flex: 1;
  text-align: right;
}
form input.equal {
  width: 110px;
}
